@charset "UTF-8";
//----- IMPORTS -----//
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
//----- RESET -----//
* {
  margin: 0px;
  padding: 0px;
};
//----- BODY -----//
body {
  box-sizing: border-box;
  padding: 10px;
};
//----- HEADER ----//
.header-container {
  max-width: 800px;
  height: auto;
  margin: auto;
  background-color: #14213d;
  padding: 10px;
};
.infos-div {
  padding: 40px;
};
.infos-div h1 , h2 {
  text-align: center;
  color: #fca311;
  font-size: 3em;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 1px black;
};
.infos-div p {
  text-align: center;
  color: #ffffff;
};
//----- NAV -----//
.nav-container {
  position: fixed;
  margin-top: -45px;
  z-index: 2;
};
.nav-container ul {
  background-color: #395185a1;
  display: flex;
  gap: 10px;
  border-style: double;
};
.nav-container li {
  list-style: none;
  color: #fca311;
  cursor: pointer;
  padding: 10px;
  font-size: 1.2em;
};
.nav-container li:hover {
  color: #ffffff;
  transition: 0.3s;
  text-shadow: 1px #ffffff;
  text-decoration: underline;
};
#btn-mobile {
  display: none;
};

//----- @MEDIA -----//
@media (max-width: 600px) {
  #btn-mobile {
    display: block;
    padding: 4px;
  }
  #btn-mobile:hover {
    cursor: pointer;
    color: aliceblue;
    transition: 0.2s;
  }
  #ul-menu {
    display: flex;
    position: absolute;
    z-index: 3;
    flex-direction: column;
    background-color: #14213d;
    top: 55px;
    transition: 1s;
    font-size: 0px;
    left: -120px;
  }
  .nav-container {
    display: flex;
    padding: 5px;
    justify-content: center;
    background-color: #395185a1;
    display: flex;
    border-style: double;
  }
  .nav-container.active img {
    transform: rotate(45deg);
    transition: .4s;
  };
  .nav-container.active #ul-menu {
    left: 50px;
    background-color: #14213d;
    font-size: 1.3em;
  }
};

