<header class="header-container">
  <div class="infos-div">
    <h1>SHOPPING</h1>
    <h2>CART 🛒</h2>
    <p>Adicione lista de compras e tenha um controle de seus gastos</p>
  </div>
  <nav class="nav-container">
    <button id="btn-mobile" (click)="toggleMenu($event)"><img src="https://icons.iconarchive.com/icons/icons8/windows-8/16/Very-Basic-Menu-icon.png"></button>
    <ul id="ul-menu">
      <li (click)="navegateByUrl('home')" *ngIf="userLogin">Carrinho de Compras</li>
      <li (click)="navegateByUrl('controleDeGastos')" *ngIf="userLogin">Controle de Gastos</li>
      <li (click)="navegateByUrl('login')"*ngIf="!userLogin">Login/Registre-se</li>
      <li (click)="exit()" *ngIf="userLogin">Sair</li>
      <li><img src="https://img.icons8.com/android/24/000000/user.png"/></li>
      <li *ngIf="userLogin" appUser id="user">{{ user }}</li>
    </ul>
  </nav>
</header>