<header class="header-container">
  <div class="infos-div">
    <h1>SHOPPING</h1>
    <h2>CART 🛒</h2>
    <p>Adicione lista de compras e tenha um controle de seus gastos</p>
  </div>
  <nav class="nav-container">
    <button id="btn-mobile" (click)="toggleMenu($event)"><img src="https://icons.iconarchive.com/icons/icons8/windows-8/16/Very-Basic-Menu-icon.png"></button>
    <ul id="ul-menu">
      <li (click)="navegateByUrl('home')">Carrinho</li>
      <li (click)="navegateByUrl('controleDeGastos')">Controle</li>
      <li (click)="navegateByUrl('login')">Login</li>
      <li>Sair</li>
    </ul>
  </nav>
</header>