<app-header></app-header>
<form class="form" [formGroup]="userLoginForm">
  <label for="input username" class="label username"><img src="https://img.icons8.com/plumpy/24/000000/username.png"/>Username</label>
  <input type="text" placeholder="Nome do usuário" class="input username" formControlName="username">
  <!------------------------------------------------------------------->
  <label for="input password" class="label password"><img src="https://img.icons8.com/plumpy/24/000000/password.png"/>Password</label>
  <input type="password" class="input inputPassword" placeholder="Senha" formControlName="password" [type]="hide ? 'password' : 'text' ">
  <label for="input password" id="showPassword"><img src="https://img.icons8.com/windows/32/000000/show-password.png"(click)="hide = !hide"></label>
  <!-------------------------------------------------------------------->
  <button (click)="login()" type="submit"[disabled]="userLoginForm.invalid" [ngClass]="{'login-button': !userLoginForm.invalid, 'noRegistered': userLoginForm.invalid}">{{userLoginForm.invalid ? 'Preencha todos os campos' : 'Entrar' }}</button>
  <p class="text-register" (click)="navegateRegister('register')">Cadastre-se </p>
  <p><img src="https://img.icons8.com/android/24/000000/add-user-male.png"></p>
</form>
<app-footer></app-footer>
