<app-header></app-header>
<main class="main-container">
  <div class="main-buttons">
    <button (click)="fnAddList()" *ngIf="showButtonCreateList">CLIQUE PARA CRIAR LISTA</button>
    <button (click)="fnEditList()" *ngIf="showButtonEditList">CLIQUE PARA EDITAR LISTA</button>
    <button (click)="fnSelectlist()">CLIQUE PARA SELECIONAR LISTA</button>
  </div>

  <div class="main-container fixed" *ngIf="iconShowInputsAddItem === true">
    <button (click)="fnShowInputsAddItemFixed()" class="main-container buttonAdd"><img
        src="https://icons.iconarchive.com/icons/custom-icon-design/pretty-office-6/64/shopping-basket-add-icon.png"
        alt="icon-show-inputs-add-item" class="buttonAddItem"></button>
  </div>
  <form class="main-container fixed" *ngIf="showInputsAddItens" [formGroup]="createItensForm"
    [ngClass]="{'inputsCompleteItems': createItensForm.value.nameItem, 'inputsNotCompleteItems': !createItensForm.value.nameItem}">
    <input type="text" placeholder="nome do item" class="inputs-name-item" formControlName="nameItem">

    <input type="number" class="inputs-value-item" formControlName="valueItem" placeholder="valor">

    <input type="number" class="inputs-amount-item" formControlName="amountItem">

    <button class="main-container buttonAdd" type="submit" [disabled]="createItensForm.invalid"
      (click)="fnAddItensCart()"><img
        src="https://icons.iconarchive.com/icons/custom-icon-design/pretty-office-6/64/shopping-basket-accept-icon.png"
        class="buttonAddItem"></button>
  </form>

  <form class="main-tag" *ngIf="showAddLista" [formGroup]="createListForm">
    <input type="text" placeholder="nome da lista" formControlName="name">
    <button (click)="fnshowTags()">ECOLHA UMA ETIQUETA</button>
  </form>
  <div class="main-tag" *ngIf="showAddLista">
    <button (click)="fnCreateShoppingCart()"
      [ngClass]="{'main-tag-create-button': createListForm.invalid, 'main-tag-create-button-active': !createListForm.invalid}"
      type="submit" [disabled]="createListForm.invalid">{{ createListForm.invalid ? 'ESCOLHA UM NOME' : 'CRIAR LISTA'
      }}</button>
  </div>

  <div class="main-tag" *ngIf="showTags">

    <img src="https://icons.iconarchive.com/icons/inipagi/business-economic/48/wallet-icon.png" alt="icon-pattern"
      (click)="tagSelect($event)" class="tagIcon wallet">

    <img src="https://icons.iconarchive.com/icons/inipagi/business-economic/48/cart-icon.png" alt="icon-marketplace"
      (click)="tagSelect($event)" class="tagIcon cart">

    <img src="https://icons.iconarchive.com/icons/inipagi/business-economic/48/store-icon.png" alt="icon-shopping"
      (click)="tagSelect($event)" class="tagIcon store">

    <img src="https://icons.iconarchive.com/icons/inipagi/business-economic/48/point-of-service-icon.png"
      alt="icon-economy" (click)="tagSelect($event)" class="tagIcon service">

    <img src="https://icons.iconarchive.com/icons/inipagi/business-economic/48/checklist-icon.png" alt="icon-debts"
      (click)="tagSelect($event)" class="tagIcon checklist">
  </div>
  <div class="main-tag TagNameSelect" *ngIf="showTags && !showTable">
    <p>{{ theTagNameSelect }}</p>
  </div>

  <div class="selection-list" *ngIf="showSelectList === true">
    <table class="selectList">
      <option selected id="selected">Escolha..</option>
      <option class="options" *ngFor="let list Of namesList" (click)="fnAddSelectedList(list.nameList)">{{ list.nameList }} ➧ {{ list.dateList | date: 'shortDate'}}</option>
    </table>
    <button (click)="fnShowSelectedList()">ADICIONAR LISTA</button>

    <div *ngIf="selectNameList.length > 0">
      <button (click)="deleteSelectedList()" appAlert>DELETAR LISTA</button>
      <button>{{selectNameList}}</button>
    </div>
    <div *ngIf="selectNameList.length == 0">
      <button>SELECIONE UMA LISTA P/ DELETAR</button>
    </div>
  </div>

  <table class="table" *ngIf="showTable">
    <thead class="table-thead" [formGroup]="createListForm">
      <tr class="thead-tag" *ngIf="showTableNameAndTag">
        <th colspan="4">
          <!--NOME DA LISTA-->
          {{ createListForm.value.name ? createListForm.value.name : nameListCache }}
        </th>
        <th id="ThTag">
          <!--IMG TAG-->
          <img src="{{ theTagUrlSelect }}">
        </th>
      </tr>
      <tr>
        <th colspan="5" id="theTagNameSelect">
          {{theTagNameSelect}}
        </th>
      </tr>
      <tr>
        <th colspan="2">NOME</th>
        <th>VALOR</th>
        <th colspan="2">QTD</th>
      </tr>
    </thead>

    <tbody class="tableTbody">
      <tr *ngFor="let item of shoppingCartItens; index as i">
        <td colspan="2">{{ item.cart.nameItem }}</td>
        <td>{{ item.cart.valueItem | currency: 'BRL':true:'1.2'}}</td>
        <td>
          <form>
            <input type="checkbox" (click)="checkboxSelect(i)">
          </form>
        </td>
        <td>{{ item.cart.amountItem }}</td>
      </tr>
    </tbody>

    <tfoot class="table-tfoot">
      <tr>
        <th colspan="4">TOTAL DE ITENS</th>
        <td>{{ totalAmount }}</td>
      </tr>
      <tr>
        <th colspan="4">VALOR TOTAL</th>
        <td>{{ totalValue | currency: 'BRL':true:'1.2'}}</td>
      </tr>

      <tr class="tfoot-add-remove" *ngIf="showButtonEditList">
        <th colspan="5">
          <button (click)="saveShoppingCart()">SALVAR LISTA</button>
        </th>
      </tr>

      <tr class="tfoot-add-remove">
        <th colspan="5">
          <button (click)="removeShoppingCart()">ESVAZIAR CARRINHO</button>
        </th>
      </tr>
      <tr class="tfoot-add-remove">
        <th colspan="5" *ngIf="shoppingCartItens">
          <button (click)="removeItemTheShoppingCart()">REMOVER SELECIONADOS</button>
        </th>
      </tr>
    </tfoot>
  </table>
</main>
<app-footer></app-footer>